[submodule "reveal"]
    path = reveal
    url = git://github.com/girldevelopit/reveal.js.git
[submodule "website-assets"]
	path = website-assets
	url = git://github.com/gdichicago/website-assets.git
