@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Slab Light'), local('RobotoSlab-Light'), url(http://themes.googleusercontent.com/static/fonts/robotoslab/v3/dazS1PrQQuCxC3iOAJFEJfR_54zmj3SbGZQh3vCOwvY.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(http://themes.googleusercontent.com/static/fonts/robotoslab/v3/y7lebkjgREBJK96VQi37ZrrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(http://themes.googleusercontent.com/static/fonts/robotoslab/v3/dazS1PrQQuCxC3iOAJFEJRbnBKKEOwRKgsHDreGcocg.woff) format('woff');
}

.slides {
  top: 41%!important;
}

.reveal {
  font-family: 'Roboto Slab', serif;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5 {
  line-height: 1.1;
}

.reveal p {
  margin-bottom: .6em;
}

.reveal li {
  margin-bottom: .33em;
}

.reveal h3 {
  font-size: 1.25em;
}

.reveal .not-bottom {
  margin-bottom: 0;
}

.reveal .nest-outline {
    border: 10px solid rgba(25,195,195,.35);
    height: 83px;
    position: absolute;
    top: 8px;
    left: 15px;
    width: 90%;
}

.reveal .nest-outline.two {
  border-color: rgba(195,25,195,.35);
  height: 34px;
  top: 37px;
  width: 85%;
  left: 36px;
}

.reveal .nest-outline.three {
  height: 132px;
}

.reveal .nest-outline.four {
  border-color: rgba(195,25,195,.35);
height: 80px;
top: 38px;
width: 85%;
left: 36px;
}

.reveal .nest-outline.five {
  border-color: rgba(25,195,25,.35);
  height: 35px;
  top: 58px;
  width: 78%;
  left: 56px;
}


.reveal .no-border {
  border:none;
  box-shadow: none;
}

.smaller {
  font-size: .9em;
}

.align-left {
  text-align: left;
}


.align-right {
  text-align: right;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}


